<%- include('./partials/header')  %>

<div class="container ">
<h1>Creación de Productos </h1>
        <form action="/productos" method="post">
            <label>Nombre:</label>
            <input name="name" /><br /><br />
            <label>Precio:</label>
            <input name="price" /><br /><br />
            <label>Thumbnail (url):</label>
            <input name="thumbnail" /><br /><br />
            <input type="submit" value="Agregar" />            
        </form>
        <br>
        <a href="/productos" class="btn btn-success">Mostrar todos los Productos</a> 
</div>
    
<%- include('./partials/footer')  %>  